body{
   margin: 0%;
   padding: 0%;
   background-color: white;
   background-image: url(fave.jpg);
    background-size: cover;
    background-position: 50%; 
    background-attachment: fixed;
}
 main{
   padding:2rem;
 }
.sidenav{
   width: 300px;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
    background-color: gray;
    border-right: 3px solid rgb(28, 27, 27);
    border-bottom: 3px solid rgb(12, 12, 12);
    border-top: 3px solid rgb(18, 18, 18);
    border-left: 3px solid rgb(15, 15, 15);
}
ul.nobullet{
   list-style-type: none;
   padding: 0;
}
 
ul.nobullet li a{
   display: block;
   padding: 10px;
   text-decoration: none;
   color: black;
}
ul.nobullet li a:hover{
   background-color: green;
}
.content{
   margin-left: 200px;
   padding: 20px;
}
.content{
   margin-left: 200px;
   padding: 20px;
}
.content{
background-image: url("shop.jpg");
width: 1500px;
height:300px ;
background-size: cover;
background-position: 70%;
   margin-left: 300px;
   padding: 2rem;
   font-family:'Times new Roman';
   text-align: center ;
   
}
h1{
    color: wheat;
}
h2{
    color: wheat;
}
p{
    color: white;
    text-align: center;
    font-size: 30;
}
